/* Fitur Page Start */
#fitur-content {
	position : relative;
	margin-top:30px;
	width:960px;
	margin-left : 125px;
	padding:35px;
}
.fitur-coloumn {
	position : relative;
	width : 308px;
	height : 138px;
	float : left;
	margin : 5px 5px;
	background : #cde0f3;
	border-radius:7.5px;
}
.fitur-icon {
	width: 100px;
	float:left;
	padding-left: 14px;
	padding-top: 19px;
}
.fitur-text{
	float:right;
	width: 190px;
	display: table-cell;
	margin: 2px;
}
/* Fitur Page End */
