body {
	margin:0;
	padding:0;
	font-family:sans-serif;
	background:#fff url('../img/bg.png');;
	font-size:13px;
}

.clearfix {
	clear:both;
}

a {
	text-decoration:none;
	color:#fff;
}

input {
	outline:none;
}

/* Default Style End */

#header {
	background:#111;
}

#header-wrapper {
	position:relative;
	width:1000px;
	margin:0px auto;
}

#logo {
	position:absolute;
	left:0px;top:0px;
	margin-top:5px;
	width:105px;height:45px;
	background:url('../img/logo.png') no-repeat;
	background-size:105px;
}

a.btn-header-action {
	height: 30px;
	line-height: 30px;
	padding:6px 15px 10px;
	color:#fff;
	font-weight:bold;
	font-size:12px;	
	float : right;
	text-align : left;
	border-top: 4px solid transparent;
}

a.btn-header-action:hover, a.btn-header-action.active {
	border-top-color: #fd7133;
}

#login-form {
	border-top: 1px solid #333;
	background: #222;
	display: none;
}

#login-form-wrapper {
	width: 420px;
	padding: 5px 0px 6px 580px;
	margin: 0 auto;
}

#login-form input:not([type="submit"]) {
	padding: 6px;
	border: 0px;
	border-radius: 2px;
}

#login-form input[type="submit"] {
	padding: 7px 15px;
	margin: 0px;
	border: 0px;
	border-radius: 2px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	background: #3399ff;
	color: #fff;
}

#footer {
	margin: 0 auto;
	width:1000px;
}

#footer ul {
	list-style:none;
	margin:0px;
	padding:0px;
	font-size:12px;
}

#footer li:first-child {
	margin-left: 0px;
}
#footer li {
	float:left;
	display:block;
	margin:0px 10px;
}

#footer a {
	color:#333;
}

#footer #copyright {
	color:#777;
}