body {
	margin:0;
	padding:0;
	font-family:sans-serif;
	background:#fff url('../img/bg.png');;
	font-size:13px;
}

.clearfix {
	clear:both;
}

a {
	text-decoration:none;
	color:#fff;
}

input {
	outline:none;
}

/* Default Style End */

#header {
	border-bottom:1px solid #999	;
	height:58px;
	background:#111;
}

#header-wrapper {
	position:relative;
	height:70px;
	width:1000px;
	margin:0px auto;
}

#logo {
	position:absolute;
	left:0px;
	margin-top:5px;
	width:105px;height:45px;
	background:url('../img/logo2.png');
	background-size:105px;
}

.login {
	/*position:absolute;*/
	width : 60px;
	right:0px;top:10px;
	border-radius:4px;
	padding:10px;
	background:#000;
	color:#fff;
	font-weight:bold;
	font-size:12px;	
	float : right;
	margin-top : 15px;
	margin-left : 10px;
	text-align : left;
}

#footer {
	position:absolute;
	left:50%;bottom:25px;
	margin-left:-500px;
	width:1000px;
}

#footer ul {
	list-style:none;
	margin:0px;
	padding:0px;
	font-size:12px;
}

#footer li {
	float:left;
	display:block;
	margin:0px 5px;
	padding:0px 5px;
}

#footer a {
	color:#333;
}

#footer #copyright {
	color:#777;
}