/*view page start*/

#content-watch {
	width:1080px;
	margin:30px auto;
}

#left-content-watch {
	width:720px;
	/*height:600px;*/
	float:left;
	background:#fff;
}

#right-content-watch {
	float:left;
	margin-left:50px;
	width:300px;
}

#video-comment {
	width:720px;
	height:400px;
	background:#aabbcc;
	margin:5px auto;
}

#box-watch {
	width:720px;
	height:400px;
	background:#3399ff;
	margin:0px auto;
	}

#box-photo {
	width:270px;
	padding:10px;
	border:5px solid gray;
	margin:0px;
	height:490px
}

/*view page end*/
